body {
  background-color: cornflowerblue;
}
#klok {
  border: none;
  height: 510px;
  width: 510px;
  background-color: red;

}
#klok:hover {
  background-color: crimson;
}
#klok:active {
  transform: translateY(4px);
}
#cool {
  font-family: Verdana;
  color: purple;
}