body {
  background-color: cornflowerblue;
}
#klok {
  border: none;
  height: 510px;
  width: 510px;
  background-color: red;
  border-radius: 4px;
}
#klok:hover {
  background-color: rgb(220, 20, 60);
}
#klok:active {
  transform: translateY(4px);
}
#cool {
  font-family: Verdana;
  color: purple;
}